*.o
a.out
CMakeCache.txt
CMakeFiles/
D.exe
FNT/
FPG/
GENSPR/
IFS/
MAP/
Makefile
PAL/
PRG/
WSTUB/
cmake_install.cmake
div
div-LINUX
old/
system/Dos4gw.exe
system/Lenguaje.int
system/SESSION.DTF
system/SETUP.BIN
system/Session.div
system/Session.map
system/exec.lin
system/exec.pgm
system/session.dtf
system/setup.bin
system/user.nfo
system/xec.pgm
